<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.payline.mobile.androidsdk">

    <application>

        <activity
            android:name=".payment.presentation.PaymentActivity"
            android:theme="@style/AppTheme.PaylineSDK"/>

        <activity
            android:name=".wallet.presentation.WalletActivity"
            android:theme="@style/AppTheme.PaylineSDK"/>

    </application>

</manifest>
